
/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #FFF;
  color: #333;
}

.navbar {
  background-color: #67B7CE;
  color: #000;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #67B7CE;
}

.nav-tabs>li>a {
  color: #67B7CE;
}

.content {
  margin: 20px;
}

.standout-text  {
  font-weight: 700;
}