<div id="content-window" class="content row">
    <div class="col-sm-5 col-md-5 col-lg-6">
        <h3>How to Play</h3>
        <div id="myTabContent" >
            <h5>Objective: Guess the hidden code peg combination in 10 guesses or less.</h5>
            <span class="glyphicon glyphicon-chevron-right"></span> To start a new game, simply click the "New" button.
            <br/>
            <span class="glyphicon glyphicon-chevron-right"></span> To reveal code after a game is started, click "Reveal" button.
            <br/>
            <span class="standout-text glyphicon glyphicon-chevron-right"></span> <span class="standout-text"> Guess Peg Controls:</span>
            <ul>
                <li>To add - Click on a color in the color peg panel on the right.</li>
                <li>To remove - Click on the guess peg in the guess panel on the bottom.</li>
                <li>To submit guess, click the "Check" button.</li>
            </ul>
            <span class="standout-text glyphicon glyphicon-chevron-right"></span> <span class="standout-text"> Feedback Peg Key:</span>
            <ul>
                <li>Black peg - Correct color in the correct position.</li>
                <li>White peg - Correct color in the wrong position.</li>
                <li>Gray peg - Empty peg; incorrect color.</li>
            </ul>
            <span class="glyphicon glyphicon-exclamation-sign"></span> The order in which the feedback pegs are displayed does not have any relation to the order &amp; color of the guess pegs.
            <br/>
        </div>
    </div>
    <div class="game col-xs-12 col-sm-7 col-md-7 col-lg-6">
        <script src="../../js/vendor/processing.min.js"></script>
        <canvas data-processing-sources="../../data/MastermindJS.pde"></canvas>
    </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-xs-block "></div>
</div>
<script src="../../js/mastermind.js"></script>
